# Directories
.vs/
**/bin/
**/bin-int/

# Files
*.user

#PyCharm
.idea/

#Visual Studio
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user

# Directories
VulkanTutorial/vendor/VulkanSDK
scripts/__pycache__